@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Movies - Error</title>
    <link href="~/css/StatusCode/statuscode.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h3>An error has occured!Try again later!</h3>
    <a asp-controller="UserCollections" asp-action="UserMovies">Return Home</a>
</body>
</html>