<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Movies - @ViewData["Title"]</title>
    <link href="~/css/Shared/AccountLayout/account.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="main-container">
        @RenderBody()
    </div>
    <div id="made-by">
        <h3>My Movies project</h3>
        <h3>Made by Marko Anastasov ©2020</h3>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Shared/AccountLayout/account.js"></script>
</body>
</html>
