textarea {
    resize: none;
}

#content {
    padding-bottom: 35px;
}

#movie-info {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #529ebb;
    background-color: #191818;
    padding: 30px;
    border-top: 30px solid #529ebb;
    border-bottom: 30px solid #ff6a00;
    padding-bottom: 30px;
    border-radius: 2px;
}

#movie-info img {
    border-radius: 2px;
}

#movie-title, #movie-genre {
    color: #ff6a00;
}

#genre {
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

#genre p {
    margin-left: 5px;
}

#genre h3 {
    color: #ff6a00;
}

#movie-views{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#movie-views img {
    width: 40px;
    margin-top: 20px;
}

#admin-action h4 {
    margin-top: 10px;
}

#admin-section {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}

#view-comments {
    max-width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}

.comment-wrapper {
    display: flex;
    flex-flow: column;
    padding: 10px;
    border-bottom: 1px solid #529ebb;
}

#comments-section {
    display: flex;
    flex-flow: column;
    word-break: break-word;
    max-height: 400px;
    overflow: auto;
}

.movie-comment {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.comment {
    margin: 0px 5px;
    color: #ff6a00;
    text-align: left;
    background-color: #2d2d2d;
    margin-top: 10px;
    padding: 10px;
    border-radius: 2px;
}

.remove-comment{
    align-self: center;
}

.remove-comment-link:link,:visited
{
    text-decoration: none;
    color: #529ebb;
}

.user-info{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.user-info img {
    width: 40px;
    margin-right: 5px;
}

#add-comment {
    display: flex;
    flex-flow: column;
    margin-top: 35px;
}

#comment-field {
    padding: 5px 3px;
    font-size: 15px;
    color: #529ebb;
    border: 0;
    width: 400px;
    background-color: #313131;
    border-radius: 2px;
}

#comment-field:focus {
    outline: 0;
    background-color: #484848;
}

#admin-action a:link, #admin-action a:visited,.user-action-button, #post-comment{
    text-decoration: none;
    color: #0e0e0e;
    background-color: #529ebb;
    padding: 5px 20px;
    border-radius: 2px;
    margin: 5px;
}

#post-comment {
    border: 0;
    font-size: 15px;
}

.user-action-button{
    width: 120px;
    text-align: center;
}

#user-section {
    margin-top: 10px;
}

#loading-data {
    height: 50px;
    margin-top: 10px;
}

#loading-data img {
    width: 50px;
    vertical-align: middle;
}

#user-actions-movie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    margin-top: 10px;
    align-items: center;
    height: 50px;
}

#data-errors {
    display: none;
    margin-top: 10px;
    color: #ff0000;
    height: 20px;
}

#movie-description {
    text-align: left;
}

@media only screen and (max-width: 450px) {
    #movie-cover img {
        width: 85%;
    }

    #movie-info {
        width: 90%;
        padding: 15px;
    }

    #movie-info h2 {
        font-size: 20px;
    }

    #loading-data img {
        width: 30px;
    }
}

@media only screen and (max-width: 540px) {
    #user-actions-movie {
        flex-flow: column;
        height: 150px;
    }

    #comment-field {
        width: 200px;
    }
}

@media only screen and (min-width: 450px) {
    #movie-cover img {
        width: 220px;
    }

    #movie-info {
        width: 90%;
    }
}

@media only screen and (max-width: 750px){
    #movie-info {
        border-top: 10px solid #529ebb;
        border-bottom: 10px solid #ff6a00;
    }
}

@media only screen and (min-width: 750px){
    #admin-action a:hover, .user-action-button:hover, #post-comment:hover {
        background-color: #89c2d8;
        cursor: pointer;
    }

    .remove-comment{
        cursor: pointer;
    }
}

@media only screen and (min-width: 840px) {
    #movie-cover img {
        width: 300px;
    }

    #movie-info {
        width: 755px;
    }
}
