#content {
    padding-bottom: 35px;
}

#movie-info {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #529ebb;
    background-color: #191818;
    padding: 30px;
    border-top: 30px solid #529ebb;
    border-bottom: 30px solid #ff6a00;
    padding-bottom: 30px;
    border-radius: 2px;
}

#movie-info img {
    border-radius: 2px;
}

#movie-title, #movie-genre {
    color: #ff6a00;
}

#genre {
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

#genre p {
    margin-left: 5px;
}

#genre h3 {
    color: #ff6a00;
}

#admin-action h4 {
    margin-top: 10px;
}

#admin-section {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}

#admin-action a:link, #admin-action a:visited,.user-action-button {
    text-decoration: none;
    color: #0e0e0e;
    background-color: #529ebb;
    padding: 5px 20px;
    border-radius: 2px;
    margin: 5px;
}

.user-action-button{
    width: 100px;
    text-align: center;
}

#user-section {
    margin-top: 10px;
}

#loading-data {
    height: 50px;
    margin-top: 10px;
}

#loading-data img {
    width: 50px;
    vertical-align: middle;
}

#user-actions-movie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    margin-top: 10px;
    align-items: center;
    height: 50px;
}

#data-errors {
    display: none;
    margin-top: 10px;
    color: #ff0000;
    height: 20px;
}

#movie-description {
    text-align: left;
}

@media only screen and (max-width: 450px) {
    #movie-cover img {
        width: 85%;
    }

    #movie-info {
        width: 90%;
    }

    #movie-info h2 {
        font-size: 20px;
    }

    #user-actions-movie{
        flex-flow: column;
        height: 150px;
    }

    #loading-data img {
        width: 30px;
    }
}

@media only screen and (min-width: 450px) {
    #movie-cover img {
        width: 220px;
    }

    #movie-info {
        width: 90%;
    }
}

@media only screen and (max-width: 750px){
    #movie-info {
        border-top: 10px solid #529ebb;
        border-bottom: 10px solid #ff6a00;
    }
}

@media only screen and (min-width: 750px){
    #admin-action a:hover,.user-action-button:hover {
        background-color: #89c2d8;
        cursor: pointer;
    }
}

@media only screen and (min-width: 840px) {
    #movie-cover img {
        width: 300px;
    }

    #movie-info {
        width: 755px;
    }
}
