@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact";
}

@section Style{
    <link href="~/css/Info/Contact/contact.css" rel="stylesheet" type="text/css" />
}


<div id="contact-items">
    <div class="contact-box">
        <div class="box-image location">
            <img src="~/images/location.png" alt="location" />
        </div>
        <h2>Office, Macedonia</h2>
        <h3>Skopje</h3>
        <p>Bul. Partizanski Odredi bb. , Skopje, 1000</p>
        <h3>Phone</h3>
        <p>+389 78 123 456</p>
    </div>

    <div class="contact-box">
        <div class="box-image location">
            <img src="~/images/location.png" alt="location" />
        </div>
        <h2>Office 2, Macedonia</h2>
        <h3>Skopje</h3>
        <p>Bul. Aleksandar Makedonski bb. , Skopje, 1000</p>
        <h3>Phone</h3>
        <p>+389 78 654 321</p>
    </div>

    <div class="contact-box">
        <div class="box-image">
            <img src="~/images/email.png" alt="email" />
        </div>
        <h2>Emails</h2>
        <h3>Support requests</h3>
        <p>support@mymovies.com</p>
        <h3>General information</h3>
        <p>info@mymovies.com</p>
    </div>

    <div class="contact-box">
        <div class="box-image">
            <img src="~/images/social.png" alt="social" />
        </div>
        <h2>We are social</h2>
        <div class="social-media">
            <img src="~/images/instagram.png" alt="instagram" style="width:20px;" />
            <h3>Instagram</h3>
        </div>
        <p>mymoviesapp</p>
        <div class="social-media">
            <img src="~/images/facebook.png" alt="facebook" style="width:20px;" />
            <h3>Facebook</h3>
        </div>
        <p>My Movies</p>
    </div>
</div>
